// skel-baseline v3.0.0-dev | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}