// skel-baseline v3.0.0-dev | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Main */

	#main {
		@include padding(4em, 0);

		@include breakpoint(small) {
			@include padding(3em, 0);
		}
	}